<div id="aboutContainer">
    <div id="aboutContent">

        <h1>About us</h1>
        <p>We are GGTracker Team, with members Trevor, Nathan and Jacob. We all have a passion for gaming so we wanted an
            easy way to track our games and hours, and maybe find some new fun games to play in the future! We found this
            was a common type of need, and there was a lack of services that worked across all platforms, so we made GGTracker and brought it to the public!
        </p>
    </div>
</div>